### Data Transformation

Visualization is an important tool for insight generation, but it is rare that you get the data in exactly the right form you need. You will often need to create some new variables or summaries, rename variables, or reorder observations for the data to be easier to manage.

To explore data manipulation verbs of pandas, we’ll use flights. This data frame contains all 336,776 flights that departed from New York City in 2013. The data comes from the US Bureau of Transportation Statistics.

**As always, import the necessary libraries now and the dataset you will need at the start of your notebook**

In [1]:
import pandas as pd
import numpy as np

flights = pd.read_csv("../Data/nycflights13_flights.csv", index_col=0)
flights.reset_index(drop=True, inplace=True) # reset index to default integer index
flights.head()
# flights.info()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,3,25,1929.0,1905,24.0,2236.0,2217,19.0,UA,1471,N37298,EWR,RSW,169.0,1068,19,5,2013-03-25 19:00:00
1,2013,4,26,956.0,1000,-4.0,1257.0,1334,-37.0,DL,1765,N717TW,JFK,SFO,337.0,2586,10,0,2013-04-26 10:00:00
2,2013,5,21,1320.0,1309,11.0,1430.0,1414,16.0,EV,4129,N11536,EWR,DCA,39.0,199,13,9,2013-05-21 13:00:00
3,2013,7,18,1222.0,1230,-8.0,1357.0,1419,-22.0,EV,5796,N13958,EWR,CLT,77.0,529,12,30,2013-07-18 12:00:00
4,2013,8,29,540.0,545,-5.0,921.0,921,0.0,B6,939,N535JB,JFK,BQN,198.0,1576,5,45,2013-08-29 05:00:00

We are going to learn five key pandas functions or object methods. Object methods are things the objects can perform. For example, pandas data frames know how to tell you their shape, the pandas object knows how to concatenate two data frames together. The way we tell an object we want it to do something is with the ‘dot operator’. We will refer to these object operators as functions or methods. Below are the five methods that allow you to solve the vast majority of your data manipulation challenges:

| Python pandas function | What it does |
|-------------------------|--------------|
| `query()`              | Pick observations (rows) by their values |
| `sort_values()`        | Reorder the rows based on one or more columns |
| `filter()` or `loc[]`  | Pick variables (columns) by their names |
| `rename()`             | Rename columns or index labels |
| `assign()`             | Create new variables (columns) using functions of existing variables |
| `groupby()`            | Split data into groups based on values of one or more keys |
| `agg()`                | Collapse many values down to a single summary (e.g., mean, sum, count) |

To use filtering effectively, you have to know how to select the observations that you want using the comparison operators. Python provides the standard suite: `>`, `>=`, `<`, `<=`, `!=` (not equal), and `==` (equal).

**Filter rows with `.query()`**

`.query()` allows you to subset observations based on their values. The function takes 2 arguments, the first argument specifies the rows to be selected. This argument can be label names or a boolean series. The second argument specifies the columns to be selected. For example we can select all fligths for August 16th:

In [2]:
flights.query("month == 8 & day == 16")

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
286,2013,8,16,1510.0,1455,15.0,1652.0,1701,-9.0,9E,4120,N8775A,JFK,CLE,73.0,425,14,55,2013-08-16 14:00:00
410,2013,8,16,1256.0,1255,1.0,1543.0,1545,-2.0,UA,1641,N19136,EWR,MCO,143.0,937,12,55,2013-08-16 12:00:00
707,2013,8,16,1959.0,2000,-1.0,2242.0,2310,-28.0,DL,2391,N916DL,JFK,TPA,146.0,1005,20,0,2013-08-16 20:00:00
1564,2013,8,16,619.0,620,-1.0,906.0,843,23.0,DL,1743,N6704Z,JFK,ATL,121.0,760,6,20,2013-08-16 06:00:00
1573,2013,8,16,2156.0,2159,-3.0,2258.0,2324,-26.0,UA,1116,N71411,EWR,BOS,42.0,200,21,59,2013-08-16 21:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201628,2013,8,16,1706.0,1700,6.0,1839.0,1846,-7.0,UA,1281,N13750,LGA,ORD,116.0,733,17,0,2013-08-16 17:00:00
201779,2013,8,16,635.0,640,-5.0,1020.0,1040,-20.0,AA,413,N3HBAA,JFK,SJU,203.0,1598,6,40,2013-08-16 06:00:00
201929,2013,8,16,1700.0,1659,1.0,1835.0,1839,-4.0,EV,4202,N13979,EWR,STL,127.0,872,16,59,2013-08-16 16:00:00
202047,2013,8,16,1758.0,1759,-1.0,2046.0,2106,-20.0,DL,1585,N991DL,LGA,MCO,145.0,950,17,59,2013-08-16 17:00:00
202048,2013,8,16,1738.0,1745,-7.0,1917.0,1925,-8.0,MQ,3301,N510MQ,LGA,RDU,76.0,431,17,45,2013-08-16 17:00:00

Multiple arguments to `.query()` are combined with `“and”`: every expression must be true in order for a row to be included in the output. For some operations you may need other Boolean operations - `&` is “and”, `|` is “or”, and `!` is “not”

![GitHub Codespaces](Boolean_operators.png)

The following code finds all flights that departed in August or September:

**Arrange or sort rows with `.sort_values()`**

Works similarly to `.query()` except that instead of selecting rows, it changes their order.

If you provide more than one column name, each additional column will be used to break ties in the values of preceding columns

**Select columns with `filter()` or `loc[]`**

It’s not uncommon to get datasets with hundreds or even thousands of variables. In this case, the first challenge is often narrowing in on the variables you’re actually interested in.

Use `.rename()` to rename a column or multiple columns.

In [3]:
flights.rename(columns={"year": "Year"})

,Year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,3,25,1929.0,1905,24.0,2236.0,2217,19.0,UA,1471,N37298,EWR,RSW,169.0,1068,19,5,2013-03-25 19:00:00
1,2013,4,26,956.0,1000,-4.0,1257.0,1334,-37.0,DL,1765,N717TW,JFK,SFO,337.0,2586,10,0,2013-04-26 10:00:00
2,2013,5,21,1320.0,1309,11.0,1430.0,1414,16.0,EV,4129,N11536,EWR,DCA,39.0,199,13,9,2013-05-21 13:00:00
3,2013,7,18,1222.0,1230,-8.0,1357.0,1419,-22.0,EV,5796,N13958,EWR,CLT,77.0,529,12,30,2013-07-18 12:00:00
4,2013,8,29,540.0,545,-5.0,921.0,921,0.0,B6,939,N535JB,JFK,BQN,198.0,1576,5,45,2013-08-29 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202061,2013,1,27,1311.0,1315,-4.0,1451.0,1504,-13.0,US,1895,N192UW,EWR,CLT,77.0,529,13,15,2013-01-27 13:00:00
202062,2013,8,8,2145.0,1800,225.0,8.0,2039,209.0,DL,61,N685DA,LGA,ATL,104.0,762,18,0,2013-08-08 18:00:00
202063,2013,1,30,2248.0,2135,73.0,149.0,36,73.0,B6,11,N809JB,JFK,FLL,166.0,1069,21,35,2013-01-30 21:00:00
202064,2013,3,18,957.0,1000,-3.0,1242.0,1234,8.0,DL,1847,N397DA,LGA,ATL,112.0,762,10,0,2013-03-18 10:00:00
202065,2013,9,6,600.0,610,-10.0,825.0,855,-30.0,AA,1103,N3FDAA,LGA,DFW,177.0,1389,6,10,2013-09-06 06:00:00

**Add new variables with `.assign()`**
Besides selecting sets of existing columns, it’s often useful to add new columns that are functions of existing columns. 
`.assign()` always adds new columns at the end of your dataset.

In [5]:
flights.assign(
    gain = flights.arr_delay - flights.dep_delay,
    speed = flights.distance / flights.arr_time*69
)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,gain,speed
0,2013,3,25,1929.0,1905,24.0,2236.0,2217,19.0,UA,...,N37298,EWR,RSW,169.0,1068,19,5,2013-03-25 19:00:00,-5.0,32.957066
1,2013,4,26,956.0,1000,-4.0,1257.0,1334,-37.0,DL,...,N717TW,JFK,SFO,337.0,2586,10,0,2013-04-26 10:00:00,-33.0,141.952267
2,2013,5,21,1320.0,1309,11.0,1430.0,1414,16.0,EV,...,N11536,EWR,DCA,39.0,199,13,9,2013-05-21 13:00:00,5.0,9.602098
3,2013,7,18,1222.0,1230,-8.0,1357.0,1419,-22.0,EV,...,N13958,EWR,CLT,77.0,529,12,30,2013-07-18 12:00:00,-14.0,26.898305
4,2013,8,29,540.0,545,-5.0,921.0,921,0.0,B6,...,N535JB,JFK,BQN,198.0,1576,5,45,2013-08-29 05:00:00,5.0,118.071661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202061,2013,1,27,1311.0,1315,-4.0,1451.0,1504,-13.0,US,...,N192UW,EWR,CLT,77.0,529,13,15,2013-01-27 13:00:00,-9.0,25.155755
202062,2013,8,8,2145.0,1800,225.0,8.0,2039,209.0,DL,...,N685DA,LGA,ATL,104.0,762,18,0,2013-08-08 18:00:00,-16.0,6572.250000
202063,2013,1,30,2248.0,2135,73.0,149.0,36,73.0,B6,...,N809JB,JFK,FLL,166.0,1069,21,35,2013-01-30 21:00:00,0.0,495.040268
202064,2013,3,18,957.0,1000,-3.0,1242.0,1234,8.0,DL,...,N397DA,LGA,ATL,112.0,762,10,0,2013-03-18 10:00:00,11.0,42.333333
202065,2013,9,6,600.0,610,-10.0,825.0,855,-30.0,AA,...,N3FDAA,LGA,DFW,177.0,1389,6,10,2013-09-06 06:00:00,-20.0,116.170909

**Grouped summaries or aggregations with `.agg()`**

The last key verb is `.agg()`. It collapses a data frame to a single row:

In [8]:
flights.agg({"dep_delay":"mean"}) #get mean of dep_delay

dep_delay    12.623232
dtype: float64

`.agg()` is not terribly useful unless we pair it with `.groupby()`. This changes the unit of analysis from the complete dataset to individual groups.

In [10]:
flights.groupby(["year", "month", "day"]).agg(delay=("dep_delay", "mean")).reset_index() #a tuple means: mean for dep_delay

     year  month  day      delay
0    2013      1    1  10.900407
1    2013      1    2  13.898396
2    2013      1    3  10.500000
3    2013      1    4   9.415730
4    2013      1    5   6.162100
..    ...    ...  ...        ...
360  2013     12   27   9.987868
361  2013     12   28   9.138430
362  2013     12   29  23.005629
363  2013     12   30  10.164666
364  2013     12   31   6.766004

[365 rows x 4 columns]

**Combining Multiple Operations**

Imagine you wanted to find out how flight delays vary by destination airport. You also want to see how many flights go to each destination, what the average distance is, and the average arrival delay. However, you don’t want destinations with very few flights or very long flights to distort the results. With longer oprations it is always more efficient to assing in to a variable using `=`.

In [16]:
delays = flights.groupby("dest").agg(
        count=("distance", "count"), 
        dist=("distance", "mean"), 
        delay=("arr_delay", "mean")).query("count > 20 & dest != 'HNL'")
delays

      count         dist      delay
dest
ABQ     145  1826.000000   7.958621
ACK     142   199.000000   5.524823
ALB     295   143.000000  11.989362
ATL   10321   757.058812  11.132765
AUS    1448  1514.237569   4.274126
...     ...          ...        ...
TPA    4532  1003.864519   7.831215
TUL     186  1215.000000  40.545977
TVC      60   652.616667  16.109091
TYS     388   638.381443  23.864789
XNA     599  1142.699499   8.187719

[95 rows x 3 columns]

#### Exercise - Average speed by destination

Imagine you wanted to know how fast flights travel on average depending on the destination. You decide to create a new variable called speed (in miles per hour) and then summarize by destination.

Task:

Create a new column `speed = distance / (air_time / 60)`.

For each destination `(dest)` assume there are `NAN` and calculate:

`count: number of flights`

`avg_speed: average speed (mph)`

Keep only destinations with more than 20 flights and sort them by `avg_speed` from fastest to slowest.

In [29]:


speeds = (
        flights
        .assign(speed = flights.distance/(flights.air_time/60))
        .groupby("dest", dropna=False)
        .agg(
            count=("flight", "count"),
            avg_speed =("speed", "mean"))
        .query("count >=20")
        .sort_values("avg_speed", ascending=False))

speeds

#if we want "clean code" indentation, have to wrap the whole expression in a parenthesis

      count   avg_speed
dest
BQN     547  486.941156
SJU    3521  485.500289
HNL     428  483.518542
PSE     229  481.060702
STT     289  478.681312
...     ...         ...
BWI    1069  282.751364
DCA    5898  280.234279
BDL     270  276.773209
ALB     295  272.213844
PHL     969  175.643066

[96 rows x 2 columns]

### All Done!